.content {
  width: 480px;
  height: 252px;
  padding: 24px 20px 12px;
  background: #ffffff;
  border-radius: 12px;
  overflow-y: scroll;

  &__form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__fields {
      display: flex;
      flex-direction: column;
      gap: 12px;

      input {
        height: 39px;
        padding: 9px 12px;
        border-radius: 12px;
        border: none;
        outline: none;
        background: #efefef;
        color: rgba(64, 64, 64, 0.6);
        font-size: 1rem;
        font-weight: 500;
      }
    }

    &__buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;

      button {
        cursor: pointer;
        height: 39px;
        border: none;
        outline: none;
        border-radius: 12px;

        &:first-child {
          width: 230px;
          background: #efefef;
          color: rgba(64, 64, 64, 0.6);
          font-size: 1rem;
          font-weight: 500;
        }

        &:last-child {
          width: 210px;
          background: #d0ffd0;
          color: #3ac64f;
          font-size: 1rem;
          font-weight: 500;
        }
      }
    }
  }
}
