.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__title {
    display: flex;
    flex-direction: row;
    gap: 20px;

    &__firstColumn {
      width: 50%;
    }

    &__secondColumn {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }

  &__projects {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
  }
}
