.calendar {
  width: 320px;
  height: 468px;
  background: var(--primary-grey);
  border-radius: 24px;

  &__title {
    padding: 16px 24px 0px;

    p {
      color: #000000;
      font-size: 0.75rem;
      font-weight: 300;
      line-height: 1.995rem;
      text-transform: uppercase;
    }

    h4 {
      margin-top: 4px;
      color: #000000;
      font-size: 2.125rem;
      font-weight: 400;
      line-height: 2.62438rem;
      letter-spacing: 0.01563rem;
    }
  }

  &__component {
    .mui-1wy8uaa-MuiButtonBase-root-MuiPickersDay-root,
    .mui-ufcxyz-MuiTypography-root-MuiDayCalendar-weekDayLabel {
      font-family: "__Ysabeau_Infant_b20639", "__Ysabeau_Infant_Fallback_b20639";
      font-size: 0.875rem;
      color: #202020;
    }

    .mui-23p0if-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
      background-color: var(--primary-green);
    }
  }
}
