* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-grey: #f5f5f7;
  --primary-dark-grey: #e5e5e5;
  --primary-green: #1c5664;
  --primary-aqua: #69a7b4;
}

a,
button,
input,
textarea {
  font-family: var(--font-ysabeau_infant);
}

